* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3E1A81;
    /* Cambiar el color de fondo de la página */
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    /* Color del texto principal */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 800px;
    background: #b92b27;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(212, 80%, 42%, 0.658), hsla(2, 65%, 44%, 0.658)), url(../img/lehan23foto.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(212, 80%, 42%, 0.658), hsla(2, 65%, 44%, 0.658)), url(../img/lehan23foto.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: #5B32A9;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Sombra para resaltar el nav */
    transition: background-color 0.3s ease;
    /* Transición suave para el cambio de color de fondo */
}


nav>a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    background: #5B32A9 url('') no-repeat left center; /* Agrega fondo a los botones  */
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* Transición suave para el cambio de color de fondo */
}


nav>a:hover {
    background-color: #3E1A81;
    /* Cambio de color de fondo al pasar el mouse sobre el enlace */
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;

}

/* About us */


main .sobre-nosotros {
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #b92b27;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
    padding: 2px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Tienda */

.portafolio {
    background: #5B32A9;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    /* Para ocultar las partes de la imagen que sobresalen */
}

.imagen-port:first-child img {
    border: 7px solid white;
    /* Agregar borde circular blanco a la primera imagen */
    border-radius: 50%;
    /* Hacer la imagen circular */
}

.imagen-port img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Agregar sombra */
    border-radius: 50%;
    /* Hacer la imagen circular */
}

.hover-galeria {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imagen-port:hover .hover-galeria {
    opacity: 1;
}

.hover-galeria img {
    width: 100px;
    /* Tamaño de la imagen en el hover */
    height: 100px;
    /* Tamaño de la imagen en el hover */
    margin-bottom: 10px;
}

.hover-galeria p {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}

/* Eliminar el círculo de la imagen "arrow" */
.imagen-port img[src="img/arrow.png"] {
    border: none;
    border-radius: 0;
}


/* Clientes */


.cards {
    display: flex;
    justify-content: space-evenly;
}

.tienda {
    background: #571d8d;
    margin-bottom: 10px;
    padding-bottom: 60px;
}

.foto-cliente {
    margin-left: 10px;
}

.cards .card {
    background: #8F6BD4;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;

    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

/*css de la imagen agregando margen a la izquiera y derecha agregue padding para que la imagen se viera mas centrada porque la imagen tiene espacio en blanco en la parte de arriba y se ve mal*/
.card-photo {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
}

/* flex para que el contenido en nombre card aparezca alineado */
.nombre-card {
    display: flex;
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    display: block;
}

.cards .card>.conenido-texto-card {
    width: 60%;
    color: #fff;
}

.cards .card>.contenido-texto-card p {
    font-weight: 300;
    padding: top 5px;
}


/* Nuestras redes*/

.about-service {
    background: #8b55f1;
    padding-bottom: 0px;
    align-items: center;
    flex-wrap: nowrap;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    /* Evita que los elementos se envuelvan a la siguiente línea */
}

.servicio-ind {
    width: 13%;
    /* Ancho ajustado para cada ícono */
    text-align: center;
    margin-right: 10px;
    /* Espacio entre los íconos */
}

.servicio-ind img {
    width: 50px;
    /* Tamaño ajustado para los íconos */
}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind {
    font-weight: 300;
}


/* footer*/


footer {
    background: #311565;
    padding: 60px 0 30px 0;
    /* Ajustar el padding-right */
    margin: auto;
    overflow: hidden;
    text-align: center;
    /* Centrar el contenido del footer */
}

.contenedor-footer {
    display: flex;
    justify-content: center;
    /* Alinear los elementos hacia el centro */
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 0px solid #ccc;
}

.content-foo {
    text-align: center;
    margin-right: 25px;
    /* Espacio entre cada elemento */
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}


.titulo-final {
    color: #ffffff;
    font-size: 24px;
}

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }

    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos {
        width: 90%;
    }

    .imagen-about-us {
        width: 90%;
    }

    /* Galeria*/

    .imagen-port {
        width: 44%;
    }

    /* Clientes */

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card {
        width: 90%;
    }

    .cards .card:first:nth-child {
        margin-bottom: 30px;
    }

    /*Redes*/

    .servicio-ind img {
        width: 90%;
        align-items: center;
        text-align: center;
        flex-wrap: nowrap;
    }

}